*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    user-select: none;
}

body {
    width: 90%;
    max-height: 50%;
    padding: 10px;
}

.calc {
    max-width: 70%;
    max-height: 50%;
    padding-right: 50px;
    margin-left: 50px;
}

.calc-display-input {
    position: relative;
    margin-left: 1em;
    margin-right: 19em;
    width: 110%;
    height: 80%;
    margin-bottom: 15px;
    border: none;
    font-size: 30px;
    outline: none;
    grid-column: 1/-1;
    padding: 15px;
}

.btn {
    display: flex;
    padding: 30px 60px 50px 30px;
    margin-left: -3px;
    font-size: 2em;
    color: yellow;
    background: black;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.calc-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 150%;
}

.btn-long {
    width: 100%;
    align-items: center;
    padding-left: 10px;
}

#result {
    height: 100%;
    align-items: center;
}