* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px);
}

input {
    height: 100px;
    margin-bottom: 2em;
    max-width: 4.7em;
    font-family: 'Bangers', cursive;
}

#display {
    margin-left: -.3em;
    font-size: 65px;
    padding-left: 5px;
}

.wrapper {
    max-width: 305px;
    width: 100%;
    border: 1px dotted black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.calculator {
    padding: 10px;
    background: black;
    border: 8px solid yellow;
}

.operator-btn,
.square-btn,
.number-btn {
    background: black;
    color: red;
    width: 55px;
    font-family: 'Bangers', cursive;
    height: 55px;
    margin: 3px;
    margin-left: 4px;
    cursor: pointer;
    font-size: 35px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.long {
    width: 120px;
}

.tall {
    height: 116px;
    width: 55px;
}

.rr {
    width: 195px;
}

.r {
    display: flex;
    height: 119px;
    justify-content: center;
    margin-left: -4px;
}